<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependencyServlet</display-name>
    <servlet-name>DependencyServlet</servlet-name>
    <servlet-class>com.kh.spring.di.controller.DependencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependencyServlet</servlet-name>
    <url-pattern>/dependency.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependencyXML</display-name>
    <servlet-name>DependencyXML</servlet-name>
    <servlet-class>com.kh.spring.di.controller.DependencyXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependencyXML</servlet-name>
    <url-pattern>/xmlDI.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DependencyAnno</display-name>
    <servlet-name>DependencyAnno</servlet-name>
    <servlet-class>com.kh.spring.di.controller.DependencyAnno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DependencyAnno</servlet-name>
    <url-pattern>/annoDI.do</url-pattern>
  </servlet-mapping>
</web-app>